/* Parte generale */
*{
    font-family: 'Lato',Verdana sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f7f8fb;
}
header{
    padding: 10px 0px 0px 0px;
    background-color: white;
}
/* Fine Parte generale */

/* Inzio header - intestazione */
#logo{
    
    margin-left: 20px;
    line-height: 50px;
}
#logo_text{
    vertical-align: top;
    font-weight: bold;
    font-size: 30px;
}
/* Fine header - intestazione */

/* inizio parte centrale - main */
.container{
    background-color: white;
    width: 60%;
    margin: 40px auto;
}

#buttons{
    display: inline-block;
    padding: 30px;
    background-color: white;
}
#task{
    text-align: center;
    font: 10px;
    background-color: #63abed;
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 8px 20px;
    color:white;
    margin-right: 5px;
    
}
#section{
    text-align: center;
    font: 10px;
    background-color: transparent;
    border-radius: 8px;
    border: 3px solid #e0e0e4;
    padding: 8px 20px;
    color: #e0e0e4;

}