/* Parte generale */
*{
    font-family: 'Lato',Verdana sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f7f8fb;
}
header{
    padding: 10px 0px 0px 0px;
    background-color: white;
    
}

h3{
    font-weight: 300;
    font-size: 20px;
}


/* Fine Parte generale */

/* Inzio header - intestazione */
#logo{
    
    margin-left: 20px;
    line-height: 50px;
}
#logo_text{
    vertical-align: top;
    font-weight: bold;
    font-size: 30px;
}
/* Fine header - intestazione */

/* inizio parte centrale - main */

.container{
    border: 5px solid white;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding-bottom: 30px;
    
}

.main_container{
    padding: 0px 50px;
}

#buttons{
    padding: 35px 50px 25px;
    background-color: white;
}
hr{
    height: 3px;
    background-color: #f7f8fb;
    border: none;
    margin: 0px -5%;
}

.tasks{
    padding-top: 5px;
}
#task{
    text-align: left;
    font: 10px;
    background-color:#63abed;
    border-radius: 10px;
    border: none;
    cursor:pointer;
    padding: 8px 20px;
    color: white;
    margin-right: 5px;
    
}
#section{
    text-align: center;
    font: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #919194;
    padding: 6px 20px;
    color: lightgray;
    cursor:pointer;

}
/* Freccia in giu' */
.pointer::after{
    content: '\25BE';
}
/* Fine Freccia in giu' */

/* Segno verificato - verde */
.verified::before{
    font-size: 10px;
    content: '\2713';
    color:#5dbea6 ;
    border: 2px solid #5dbea6;
    border-radius:45px;
    padding: 1px 3px;
    margin-right: 10px;
}
/* Fine Segno verificato - verde */
/* Segno errore - rosso */
.error_mark::before{
    font-size: 11px;
    content: '\2718';
    color:red ;
    border: 2px solid red;
    border-radius:50px;
    padding: 1px 4px;
    margin-right: 10px;
}
/* Fine Segno errore - rosso */
.border_elements{
    text-align: center;
    font-weight: 800;
    font-size: small;
    border-radius: 20px;
    border: 2px solid transparent;
    padding: 5px 10px;
    color:white;
    margin-left: 5px;
}
/* Colori border elements */
.editorial{
    background-color: #63abed;

}
.goals{ 
    background-color: #9c72e4;
}
.recruiting{
    background-color: #64c0a9;
}
.mobile{
    background-color: #f29d2e;
}
.website{
    background-color: #d863a1;
}
.sales{
    background-color: #afc823;
}
/* Fine Colori border elements */

/* Fine parte centrale - main */